*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
}

h2 {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.content {
  width: 1140px;
  display: flex;
  gap: 30px;
  align-items: end;
}

.result {
  width: fit-content;
}

.result__video-container {
  position: relative;
  padding-bottom: 16px;
  width: 711px;
  height: 386px; 
  overflow: hidden;
}

.result__video {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.search-form {
  display: flex;
  align-items: start;
  justify-items: end;  
  gap: 34px; 
}

.content__details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: auto;
}

.title {
  font-family: Oswald, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #fff;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  height: 298px;
  overflow: auto;
}

.search-form__fieldset { 
  width: 100%;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.search-form__textfield {
  min-width: 225px;
  appearance: none;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  color: rgba(255 255 255 / 0.7);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 2px 0;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__fieldset-title {
  padding-bottom: 4px;
}

.button {
  min-height: fit-content;
  background-color: transparent;
  border: 1px solid #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
}

.button:focus {
  outline: none;
}

.button:active {
  outline: none;
  background: #545050;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  padding: 6px 73px;
  align-self: end;
}

.content__list-item {
  padding-bottom: 32px;
}

.content__list-item:last-child {
  padding-bottom: 0;
}

.content__list-item:hover {
  cursor: pointer;
}

.content__list-item:focus-visible,
.content__card-link:focus-visible,
.content__video-card:focus-visible {
  outline: transparent;
}

.content__card-link {
  display: block;
  text-decoration: none;
  margin: 2px;
}

.content__video-card-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__video-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

:is(.content__list-item:has(:focus-visible)) .content__video-card {
  outline: 1px solid #fff;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-top: 3px;  
  inline-size: 200px;
  block-size: 101px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  color: #fff;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: start;
  gap: 13px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__label {
  display: flex;
  gap: 5px;
  justify-content: end;
  align-items: start;
  padding: 1px;
}

.search-form__label:focus-visible,
.search-form__textfield:focus-visible,
.search-form__checkbox:focus-visible {
  outline: none;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
  content: '';
  position: relative;
  background-color: #fff;
  width: 15px;
  height: 15px;
  inset: 1px;
}

.search-form__label:hover {
  cursor: pointer;
}

.search-form__label:has(:focus-visible):not(:active) {
  outline: 1px solid #fff;
}

:is(.search-form__label:hover) .search-form__label-text {
  text-decoration: underline;
}

:is(.content__list-item:active) .content__video-card {
  background-color: #545050;
}

:is(.content__list-item:hover) .content__video-card-title {
  text-decoration: underline;
}

:is(.content__list-item:hover) .content__video-card-description {
  text-decoration: underline;
}

.content__card-link_current {
  background-color: #545050;
}

.more-button {
  width: 100%;
  padding: 3px 0;
}